* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url(/Assets/dark-evening-light-pink-road-stars-4k-60.jpg);
  background-size: cover;
  padding: 0 8%;
  position: relative;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

nav img {
  width: 10rem;
  cursor: pointer;
  z-index: 3;
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 1rem;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.1rem 2rem;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  position: absolute;
  bottom: -0.7rem;
  border-radius: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s;
}
nav ul li a:hover::after {
  width: 90%;
}

.contact a {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  background: transparent;
}

.contact a:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.5s all ease-in-out;
  color: rgb(0, 0, 0);
  width: 0;
}

.contact a:hover::after {
  width: 0;
}

.text-box {
  color: #fff;
  position: absolute;
  bottom: 8%;
}
.text-box p {
  font-size: 3.2rem;
  font-weight: 600;
}
.text-box h1 {
  font-size: 9rem;
  line-height: 10.5rem;
  margin-left: -1rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(/Assets/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  /* New Line */
  /* flex-wrap: wrap; */
  /* width: 60%; */
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.text-box h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.btn {
  display: flex;
}
.text-box a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-right: 0.8rem;
  border: 0.2rem solid #fff;
  display: flex;
  align-items: center;
}
.text-box a span {
  font-size: 2rem;
  line-height: 1rem;
  margin-left: 0.3rem;
}
.arrow01 {
  font-size: 1.4rem;
  line-height: 1rem;
}
.social-icons {
  position: absolute;
  right: 5%;
  bottom: 8%;
}
.social-icons img {
  width: 1.7rem;
  display: block;
  margin: 2rem 0.3rem;
}
